{% extends "layout/base.html" %}

{% block title %}ExtremeGaming{% endblock %}

{% block body %}
    <div class="s-commerce-user-error-container">
        <div class="container">
            <div class="main">
                <div class="s-commerce-error">
                    <div class="error-title">ExtremeGaming ha dejado de operar</div>
                    <div class="error-content">
                        ExtremeGaming ha dejado de ofrecer sus servicios a partir de Agosto del 2017. Les agradecemos a todos nuestros clientes por los 5 años que nos acompañaron y apoyaron con sus compras. <br>

                        Staff ExtremeGaming
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
