flask
flask_openid
flask_cache
wtf-peewee
flask_bootstrap
pymysql
algoliasearch
requests
redis
peewee
wtforms
flask-inputs
flask-wtf
rollbar
blinker==1.4
demiurge
ujson

# apt-get install libssl-dev
# apt-get install git
# apt-get install vim
# apt-get install mysql
# apt-get install libmysqlclient-dev
# apt-get install libxml2-dev libxslt-dev python-dev lib32z1-dev
# apt-get install libffi-dev
