body{
    color: #666666;
    background-color: #1c262f;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #24945c !important;
    color: white;
}

.s-commerce-navbar{
    height: 55px;
    color: white;
    padding-top: 16px;
}

.s-commerce-logo {
    width: 128px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    margin-right: 55px;
}

.s-commerce-logo a{
    text-decoration: none;
    color: white;
}

.s-commerce-navbar a{
    text-decoration: none;
    color: white;
}

.s-commerce-navbar-item{
    font-family: 'Roboto', sans-serif;
    padding: 12px 20px;
    border-radius: 2px;
    margin-right: 4px;
    /*line-height: 1.2;*/
    font-weight: 400;
}

.s-commerce-navbar-item:hover{
    color: white !important;
    background-color: #24945c;
}

.navbar-offers{
    color: #fdb832 !important;
    font-weight: 600;
}


.s-commerce-navbar-item.active{
    background-color: #24945c;
    font-weight: bold;
}

.s-commerce-sections{
    height: 45px;
    background-color: #24945c;
}

.s-commerce-section-item{
    color: white;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    display:inline-block;
}

.s-commerce-section-item.active{
    box-shadow: 0 -2px 0 0 white inset;
    -webkit-box-shadow: 0 -2px 0 0 white inset;
    -mozilla-box-shadow: 0 -2px 0 0 white inset;
}

.s-commerce-section-item:hover{
    cursor: pointer;
    box-shadow: 0 -2px 0 0 white inset;
}

.s-commerce-offers{
    margin-top: 37px;
}

.s-commerce-offers-featured{
    margin-top: 14px;
}

.s-commerce-offers-title{
    font-size: 22px;
    color: #fdb832;
    font-weight: 400;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-bottom: 15px;
}

.s-commerce-offers-button{
    padding: 15px 20px;
    font-size: 14px;
    background: #fdb832;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.s-commerce-offer-product{
    height: 353px;
    margin-top: 20px;
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.s-commerce-offer-product:hover .s-commerce-offer-product-hud{
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.s-commerce-offer-price,
.s-commerce-offer-cart-button{
    font-size: 22px;
    color: #1c262f;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: inline-block;
    padding: 11px 25px;
    background-color: #fdb832;
}

.s-commerce-offer-cart-button{
    cursor: pointer;
    font-size: 15px;
    padding: 16px 15px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.s-commerce-offer-buttons a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 0;
}

.s-commerce-offer-product-hud{
    opacity: 0; /* opacity: 0; */
    height: 353px;
    transition: all 0.3s ease-in-out;
}

.s-commerce-offer-product-description{
    color: white;
    padding: 0 20px;
    word-break: break-all;
    word-wrap: break-word;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.s-commerce-offer-product-title{
    color: white;
    padding: 20px 20px 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.s-commerce-products-title{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: white;
    padding: 45px 0 30px 0;
}

.s-commerce-products-list{
    margin-bottom: 72px;
}

.s-commerce-product{
    height: 172px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.s-commerce-product a{
    text-decoration: none;
}

.s-commerce-product-buttons{
    position: absolute;
    bottom: 0
}

.s-commerce-product-buttons a{
    color: white;
    text-decoration: none;
    display: inline-block;
}

.s-commerce-product-price,
.s-commerce-product-cart-button{
    background-color: #2cb16e;
    font-size: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 19px 9px 19px;
}

.s-commerce-product-hud{
    opacity: 0;
    height: 172px;
    transition: all 0.3s ease-in-out;
}

.s-commerce-product-title{
    color: white;
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.s-commerce-product-title-mobile{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.s-commerce-product:hover .s-commerce-product-hud{
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

.s-commerce-products-list .row {
    margin-top: 11px;
}

.s-commerce-product-container {
    margin-top: 50px;
    border-radius: 3px;
    margin-bottom: 50px;
}

.s-commerce-product-top-hud {
    padding: 15px 20px;
    background-color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid #e6e6e6;
}

.s-commerce-product-hud-title {
    color: #1c262f;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.s-commerce-product-hud-link a{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #2cb16e;
}

.s-commerce-product-hud-price{
    font-size: 20px;
    color: #2cb16e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.s-commerce-product-hud-link a{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.s-commerce-product-hud-section-link a{
    text-transform: uppercase;
    color: #9d9d9d;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.s-commerce-product-body{
    background-color: white;
    padding: 20px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.s-commerce-body-inner{
    border-right: 1px solid #e6e6e6;
}

.s-commerce-description-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.s-commerce-product-specs,
.s-commerce-product-categories{
    margin-bottom: 10px;
}

.s-commerce-spec,
.s-commerce-category{
    background-color: #2cb16e;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: white;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    border-radius: 3px;
    display: inline-block;
}

.s-commerce-spec a,
.s-commerce-category a{
    text-decoration: none;
    color: white;
}

.s-commerce-product-description{
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9d9d9d;
    padding-right: 20px;
    white-space: pre-wrap;
}

.s-commerce-product-view-buttons{
    margin-top: 30px;
}

.s-commerce-purchase-button{
    padding: 20px 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    color: white;
    background-color: #2cb16e;
    text-align: center;
}

.s-commerce-cart-button{
    padding: 20px 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    color: white;
    background-color: #3874a2;
    text-align: center;
}

.s-commerce-testimonials{
    margin-top: 80px;
    margin-bottom: 30px;
}

.s-commerce-testimonial{
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

.s-commerce-testimonial-content{
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 600;
}

.s-commerce-testimonial-product-title{
    text-align: center;
    padding: 19px 83px 34px;
    font-size: 20px;
}

.s-commerce-testimonial-product-title a{
    color: white;
    text-decoration: none;
}

.s-commerce-testimonial-body{
    font-style: italic;
    font-weight: 400;
    text-align: center;
    padding: 0 30px 50px;
    text-overflow: ellipsis;
}

.s-commerce-testimonial-hud{
    padding: 20px;
    background-color: white;
}

.s-commerce-testimonial-user{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

.s-commerce-testimonial-user a{
    text-decoration: none;
    color: black;
}

.s-commerce-testimonial-timestamp{
    text-align: center;
    padding: 3px 0 0 0;
}

.s-commerce-testimonial-user-image{
    position: relative;
}

.s-commerce-testimonial-user-image img{
    border-radius: 300px;
    width: 68px;
    height: 68px;
    border: 4px solid white;
    position: absolute;
    bottom: -10px;
    left: 114px;
}

.s-commerce-testimonial-user a{
    margin-top: 15px;
    display: inline-block;
}

.s-commerce-search-container{
    margin-top: 100px;
}

.s-commerce-search-form input{
    background-color: #4b5259;
    border: 1px solid #4b5259;
    color: #ffffff;
}

.s-commerce-search-sections-title,
.s-commerce-search-price-title,
.s-commerce-specs-title{
    margin-top: 20px;
    color: #2cb16e;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.s-commerce-search-sections input[type="checkbox"]{
    margin-right: 10px;
}

.s-commerce-search-sections .checkbox{
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10px 0;
    border-bottom: 1px solid #4B5259;
}

.slider-container.theme-green{
    margin-top: 30px;
}

.back-bar{
    background: rgba(55, 116, 162, 0.2) !important;
}

.selected-bar{
    background: #4272A0 !important;
}

.pointer{
    width: 20px !important;
    height: 20px !important;
    border-radius: 20px !important;
    border: none !important;
    background: #4272A0 !important;
    top: -7px !important;
}

.pointer-label{
    color: #3874a2 !important;
    background: none !important;
    font-size: 14px !important;
    top: -25px !important;
}

.slider-container .scale span{
    border: none !important;
}

.slider-container .scale ins{
    color: #3874a2 !important;
    font-size: 14px !important;
    top: 10px !important;
}

.s-commerce-specs-title{
    margin-top: 50px;
}

.s-commerce-search-specs{
    margin-top: 10px;
}

.s-commerce-offer-product-wrapper a{
    text-decoration: none;
}

.s-commerce-user-nav {
    position: relative;
}

.s-commerce-user-nav-wallet{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
}

.s-commerce-user-nav-wallet-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #9d9d9d;
    font-size: 16px;
    text-align: center;
}

.s-commerce-user-nav-image img{
    border-radius: 3px;
    height: 45px;
    width: 45px;
}

.s-commerce-user-nav-notifications i,
.s-commerce-user-nav-cart i{
    font-size: 21px;
}

.s-commerce-left-navbar{
    display: inline-block;
    margin-top: 15px;
}

.s-commerce-notification-counter{
    background-color: #2cb16e;
    border: 2px solid #1c262f;
    border-radius: 3px;
    bottom: 27px;
    color: white;
    font-size: 11px;
    padding: 2px;
    position: absolute;
    right: 55px;
}

.s-commerce-sliders{
    margin-top: 50px;
}

.carousel-caption{
    background: -moz-linear-gradient(top, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%);
    background: -webkit-linear-gradient(top, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%);
    background: linear-gradient(to bottom, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1c262f', endColorstr='#1c262f',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x;
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

.s-commerce-product-login-button{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    padding: 20px 100px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
    color: white;
    background-color: #2cb16e;
    text-align: center;
}

.s-commerce-product-login-button a{
    text-decoration: none;
    color: white;
}

.s-commerce-product-login-button a:hover{
    text-decoration: none;
    color: white;
}

.s-commerce-banned-account{
    margin-top: 50px;
    text-align: center;
}

.s-commerce-banned-title{
    font-size: 28px;
    color: white;
    font-family: "Roboto",sans-serif;
}

.s-commerce-banned-speech{
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

.s-commerce-banned-reason{
    color: white;
    font-family: "Roboto",sans-serif;
    font-size: 18px;
}

.s-commerce-register-account{
    margin-top: 50px;
    text-align: center;
}

.s-commerce-register-title {
    font-size: 28px;
    color: white;
    font-family: "Roboto",sans-erif;
}

.s-commerce-register-title .brand {
    color: #2CB16E;
}

.s-commerce-register-account img{
    width: 85px;
    height: 85px;
    margin: 10px 0;
}

.s-commerce-registration-speech{
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

.s-commerce-registration-form {
    color: white;
    margin-top: 20px;
    text-align: left;
}

.s-commerce-section button{
    margin-top: 10px;
}

#hits{
    margin-top: 50px;
}

.s-commerce-search-box input{
    font-size: 24px;
    height: 60px;
}

.s-commerce-search-container h5{
    font-size: 20px;
    color: white;
}

.s-commerce-products-selection{
    text-align: center;
}

.s-commerce-section-selector select{
    font-size: 16px;
    height: 35px;
    margin-bottom: 20px;
}

.s-commerce-section-title {
    font-size: 22px;
    color: white;
    font-family: "Roboto",sans-erif;
}

.s-commerce-read-more{
    color: #9d9d9d;
    margin-top: 10px;
}

.s-commerce-product-in-offer{
    font-family: "Roboto",sans-erif;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
}

.s-commerce-offer-hud{
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #e6e6e6;
}

.s-commerce-product-offer-date{
    color: #2cb16e;
    font-weight: bold;
}

.s-commerce-user-profile{
    margin-top: 50px;
}

.s-commerce-user-profile-left,
.s-commerce-user-profile-right{
    padding: 10px;
    background-color: white;
    border-radius: 2px;
}

.s-commerce-user-profile-image {
    width: 54px;
    height: 54px;
    border-radius: 2px;
}

.s-commerce-user-profile-username{
    font-size: 20px;
}

.s-commerce-user-profile-username a{
    text-decoration: none;
}

.s-commerce-user-profile-item{
    margin-top: 10px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 5px;
}

.s-commerce-user-profile-right .tab-pane{
    margin-top: 20px;
}

.notification-body{
    margin-top: 10px;
}

/*
CART.CSS
*/

#cd-cart,
#cd-notifications {
    position: fixed;
    top: 0;
    height: 100%;
    width: 260px;
    /* header height */

    padding-top: 50px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

@media only screen and (min-width: 768px) {
    #cd-cart,
    #cd-notifications {
        width: 350px;
    }
}

@media only screen and (min-width: 1200px) {
    #cd-cart,
    #cd-notifications {
        width: 30%;
        /* header height has changed */
        padding-top: 80px;
    }
}

#cd-cart,
#cd-notifications {
    right: -100%;
    background: #FFF;
    -webkit-transition: right 0.3s;
    -moz-transition: right 0.3s;
    transition: right 0.3s;
}

#cd-cart.speed-in,
#cd-notifications.speed-in {
    right: 0;
}
#cd-cart > *,
#cd-notifications > * {
    padding: 0 1em;
}

#cd-cart h2,
#cd-notifications h2 {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
}

#cd-cart .cd-cart-items,
#cd-notifications .cd-notifications-items {
    padding: 0;
}

#cd-cart .cd-cart-items li,
#cd-notifications .cd-notifications-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child,
#cd-notifications .cd-notifications-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
}
#cd-cart .cd-price {
    margin-top: .4em;
}
#cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 32px;
    height: 50px;
    border-radius: 50%;
    background: url("../img/cd-remove-item.svg") no-repeat center center;
}
.no-touch #cd-cart .cd-item-remove:hover {
    background-color: #e0e6ef;
}
#cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
    float: right;
}
#cd-cart .cd-cart-total::after {
    /* clearfix */

    content: '';
    display: table;
    clear: both;
}
#cd-cart .checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7dcf85;
    color: #FFF;
    text-align: center;
}
.no-touch #cd-cart .checkout-btn:hover {
    background: #a2dda8;
}
#cd-cart .cd-go-to-cart {
    text-align: center;
    margin: 1em 0;
}
#cd-cart .cd-go-to-cart a {
    text-decoration: underline;
}
@media only screen and (min-width: 1200px) {
    #cd-cart > *,
    #cd-notifications > * {
        padding: 0 2em;
    }
    #cd-cart .cd-cart-items li,
    #cd-notifications .cd-notifications-items li {
        padding: 1em 2em;
    }
    #cd-cart .cd-item-remove {
        right: 2em;
    }
}

#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 998;
    display: none;
}
#cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}

@-webkit-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes cd-fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.s-commerce-cart-title{
    font-size: 22px;
    font-family: "Roboto",sans-erif;
    font-weight: 600;
    color: #1C262F;
    margin-bottom: 15px;
    margin-left: -25px;
}

.s-commerce-cart-item-title,
.s-commerce-notification{
    color: #1C262F;
    font-size: 16px;
}

.s-commerce-notification a{
    color: #337ab7;
}

.s-commerce-cart-item-price{
    font-size: 15px;
}

.cd-cart-total{
    color: #1C262F;
    font-size: 16px;
}

.s-commerce-user-notification-counter{
    background: #24945c none repeat scroll 0 0;
    border: 1px solid #1c262f;
    border-radius: 7px;
    bottom: 30px;
    font-size: 10px;
    padding: 4px;
    position: absolute;
    right: 10px;
    z-index: 999;
}

.notification-container{
    position: relative;
}

.s-commerce-pending-requests-alert,
.s-commerce-testimonials-alert{
    padding: 10px;
    background: #FDB832;
    font-size: 16px;
    font-family: "Roboto",sans-erif;
    color: #1C262F;
}

.pending-requests-title,
.testimonials-alert-title{
    font-weight: 600;
    font-size: 23px;
}

.pending-requests-ending {
    display: none;
}

#pending-requests-btn{
    margin-top: 10px;
}

.pending-requests-ending{
    margin-top: 5px;
}

.pending-requests-hotlink{
    margin-top: 10px;
}

.s-commerce-reservations-container{
    margin-top: 50px;
}

.reservation-title{
    color: #FDB832;
    font-size: 23px;
    font-family: "Roboto",sans-erif;
}

.reservation-body{
    color: white;
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
}

#image{
    height: 40px;
    border: none;
    background: none;
}

.s-commerce-testimonials-alert{
    margin-top: 20px;
}

.testimonials-alert-body{
    margin-top: 10px;
    margin-bottom: 10px
}

.s-commerce-new-testimonials-container{
    margin-top: 50px;
}

.s-commerce-new-testimonial{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #FDB832;
}

.s-commerce-new-testimonial-title{
    color: white;
    font-size: 23px;
    font-family: "Roboto",sans-erif;
    font-weight: 600;
    text-align: center;
    margin: 10px 0;
}

.s-commerce-testimonials-highlights li {
    color: white;
    font-family: "Roboto",sans-erif;
    font-size: 16px;
}

.s-commerce-testimonial-form textarea{
    resize: vertical;
}

.s-commerce-testimonial-form button{
    margin-top: 15px;
}

.unseen{
    background: #FDB832;

}

.s-commerce-product-admin{
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.s-commerce-footer{
    color: white;
    font-size: 15px;
}

.s-commerce-user-error-container{
    margin-top: 100px;
}

.s-commerce-error{
    color: white;
    text-align: center;
}

.error-title{
    font-family: "Roboto",sans-erif;
    font-size: 30px;
}

.error-content{
    font-family: "Roboto",sans-erif;
    font-size: 20px;
}

.s-commerce-user-history-container {
    margin-top: 50px;
}

.s-commerce-history-body{
    padding: 20px;
    background: white;
}

.history-body-top{
    text-align: center;
}

.history-pre-title{
    font-family: "Roboto",sans-erif;
    font-size: 35px;
    color: #505050;
    font-weight: 300;
}

.history-title{
    font-family: "Roboto",sans-erif;
    font-size: 20px;
    color: #959595;
    font-weight: 300;
}

.table-listing{
    padding-left: 50px;
}

.history-items td{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.history-items td:first-child{
    font-weight: 500;
}

.s-commerce-history-tracking {
    padding: 20px;
    background: #222A33;
}

.tracking-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 23px;
    color: white;
}

.tracking-alert{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: white;
}

/*
Progress bar CSS
*/

.progress-meter {
    padding: 0;
}

ol.progress-meter {
    padding-bottom: 9.5px;
    list-style-type: none;
}
ol.progress-meter li {
    display: inline-block;
    text-align: center;
    text-indent: -19px;
    height: 36px;
    width: 30%;
    font-size: 12px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

ol.progress-meter li:before {
    position: relative;
    float: left;
    text-indent: 0;
    left: -6px;
}

ol.progress-meter li.done {
    font-size: 12px;
}

ol.progress-meter li.done:before {
    content: " ";
    height: 19px;
    width: 19px;
    line-height: 21.85px;
    bottom: -25px;
    border: none;
    border-radius: 19px;
}

ol.progress-meter li.todo {
    font-size: 12px;
}

ol.progress-meter li.todo:before {
    content: "\2B24";
    font-size: 17.1px;
    bottom: -23px;
    line-height: 18.05px;
}

ol.progress-meter li.done {
    color: #24945C;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom-color: #24945C;
    line-height: 120px;
    text-align: left;
}

ol.progress-meter li.done:before {
    color: white;
    background-color: #24945C;
}

ol.progress-meter li.todo {
    color: silver !important;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom-color: silver;
    line-height: 120px;
    text-align: left;
}

ol.progress-meter li.todo:before {
    color: silver;
    font-size: 17.1px;
    bottom: -23px;
    line-height: 18.05px;
}

ol.progress-meter li.done {
    color: #24945C;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom-color: #24945C;
    line-height: 120px;
    text-align: left;
}

ol.progress-meter li.done:before {
    color: white;
    background-color: #24945C;
}

ol.progress-meter li.todo {
    color: #77BF84;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-bottom-color: silver;
    line-height: 120px;
    text-align: left;
}

ol.progress-meter li.todo:before {
    color: silver;
}

.tracking-message{
    border-left: 2px solid #24945C;
    padding: 10px;
    margin-top: 10px;
}

.tracking-message-date,
.tracking-message-content{
    font-weight: 300;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.tracking-message-date{
    font-size: 21px;
}

.tracking-message-content{
    margin-top: 7px;
}

.s-commerce-testimonial-note {
    padding: 10px;
    color: white;
}

.s-commerce-announce{
    padding: 10px;
    background: #2CB16E;
    color: white;
    font-size: 17px;
    white-space: pre-line;
    margin-top: 10px;
    margin-bottom: 10px;
}

.s-commerce-product-admin-hud{
    margin: 10px 0;
}

.s-commerce-product-admin-hud a{
    margin: 2px 0;
}

.s-commerce-faq-container{
    margin-top: 50px;
}

.s-commerce-faqs{
    padding: 25px;
    background: white;
}

.s-commerce-faq-header .header-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #1c262f;
}

.s-commerce-faq{
    margin-top: 10px;
    margin-bottom: 25px;
}

.faq-question{
    font-size: 18px;
    font-weight: 500;
    color: #2cb16e;
    font-family: 'Roboto', sans-serif;
}

.faq-answer{
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    color: #1c262f;
    font-size: 14px;
}

.drawer-contents {
    background-color: #1C262F;
}

.s-commerce-testimonial-count{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
}

.testimonial-count{
    color: #fdb832;
}

.s-commerce-load-more{
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    background-color: #30A66F;
    color: #FFFFFF;
    border-color: #30A66F;
}