{% macro get_notification_title(action) %}
    {% if action == 1 or action == 4 %}
        ¡Pedido aceptado!
    {% elif action == 2 %}
        Carga de créditos procesada
    {% elif action == 3 %}
        Compra de producto con créditos
    {% elif action == 5 or action == 8 %}
        Pedido denegado
    {% elif action == 6 %}
        Nuevo comentario en ticket
    {% elif action == 7 %}
        Ticket de soporte resuelto
    {% elif action == 9 %}
        Nueva nota adjunta a un pedido
    {% elif action == 10 %}
        Actualización de dirección de email
    {% elif action == 11 %}
        Nuevo mensaje
    {% endif %}
{% endmacro %}

{% macro get_notification_body(notification) %}
    {% if notification.action == 1 %}
        Se aceptó el pedido <a href="/historial/A-{{ notification.userrequest.id }}">#A-{{ notification.userrequest.id }}</a> en nuestro sistema. Esto significa que los productos solicitados ya fueron enviados a tu email o a través de una nueva nota adjunta.
    {% elif notification.action == 2 %}
        ${{ notification.creditrequest.amount|price_format }} créditos fueron agregados a su cuenta (Pedido <a href="/historial/B-{{ notification.creditrequest.id }}">#B-{{ notification.creditrequest.id }}</a>)
    {% elif notification.action == 3 %}
        Has realizado la compra del producto <a href="/comprar/{{ notification.product.app_id or notification.product.sub_id }}">{{ notification.product.title }}</a> (Pedido <a href="/historial/C-{{ notification.paidrequest.id }}">#C-{{ notification.paidrequest.id }}</a>). La misma será procesada por nuestros administradores.
    {% elif notification.action == 4 %}
        Se aceptó el pedido <a href="/historial/C-{{ notification.paidrequest.id }}">#C-{{ notification.paidrequest.id }}</a> en nuestro sistema. Esto significa que los productos solicitados ya fueron enviados a tu email o a través de una nueva nota adjunta.
    {% elif notification.action == 5 %}
        Se denegó el pedido  <a href="/historial/C-{{ notification.paidrequest.id }}">#C-{{ notification.paidrequest.id }}</a> por el monto de ${{ notification.paidrequest.price|price_format }} créditos. Los mismos fueron devueltos a tu cuenta para que los puedas utilizar nuevamente.

        {% if notification.paidrequest.reason -%}
            <span class="red-text"><strong>Motivo:</strong> {{ notification.paidrequest.reason }}</span>
        {%- endif %}
    {% elif notification.action == 6 %}
        Se ha realizado un nuevo comentario en el ticket de soporte <a href="/ticket/{{ notification.ticket.id }}">#{{ notification.ticket.id }}</a>
    {% elif notification.action == 7 %}
        El ticket <a href="/ticket/{{ notification.ticket.id }}">#{{ notification.ticket.id }}</a> se ha cambiado a "Resuelto"
    {% elif notification.action == 8 %}
        Se denegó el pedido  <a href="/historial/A-{{ notification.userrequest.id }}">#A-{{ notification.userrequest.id }}</a> por el monto de ${{ notification.userrequest.price|price_format }} ARS.

        {% if notification.userrequest.paid -%}
            Los mismos fueron devueltos a tu cuenta para que los puedas utilizar nuevamente.
        {%- endif %}

        {% if notification.userrequest.reason -%}
            <span class="red-text"><strong>Motivo:</strong> {{ notification.userrequest.reason }}</span>
        {%- endif %}
    {% elif notification.action == 9 %}
        {% if notification.userrequest %}
            {% set url = '/historial/A-{}'.format(notification.userrequest.id ) %}
            {% set text = '#A-{}'.format(notification.userrequest.id) %}
        {% elif notification.creditrequest %}
            {% set url = '/historial/B-{}'.format(notification.creditrequest.id) %}
            {% set text = '#B-{}'.format(notification.creditrequest.id) %}
        {% elif notification.paidrequest %}
            {% set url = '/historial/C-{}'.format(notification.paidrequest.id) %}
            {% set text = '#C-{}'.format(notification.paidrequest.id) %}
        {% endif %}

        Un administrador ha adjuntado una nueva nota en el pedido <a href="{{ url }}">{{ text }}</a></a>. ¡Por favor asegurate de leerla, puede ser importante!
    {% elif notification.action == 10 %}
        Actualizó su dirección de email de: <strong>{{ notification.old_email }}</strong> a <strong>{{ notification.new_email }}</strong>
    {% elif notification.action == 11 %}
        Has recibido un nuevo mensaje en el pedido

        {% if notification.paidrequest %}
            <a href="/historial/C-{{ notification.paidrequest.id }}">#C-{{ notification.paidrequest.id }}</a>
        {% elif notification.userrequest %}
            <a href="/historial/A-{{ notification.userrequest.id }}">#A-{{ notification.userrequest.id }}</a>
        {% endif %}
    {% endif %}
{% endmacro %}

{% for notification in notifications %}
    <div class="row">
        <div class="col-md-16">
            <div class="user-notification">
                <div class="card">
                    <div class="card-content">
                        <div class="user-notification-date">
                            <span class="card-title">{{ get_notification_title(notification.action) }}</span>
                            ({{ notification.timestamp|date_format }})
                        </div>

                        <div class="notification-body">
                            {{ get_notification_body(notification) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
{% endfor %}