{% extends "layout/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}ExtremeGaming - Perfil de @{{ user.username }}{% endblock %}

{% block body %}
    <div class="s-commerce-user-profile">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <div class="s-commerce-user-profile-left">
                            <div class="row">
                                <div class="col-md-3 col-sm-5">
                                    <img src="{{ user.avatar_url }}" class="s-commerce-user-profile-image" alt="">
                                </div>

                                <div class="col-md-12 col-sm-10">
                                    <span class="s-commerce-user-profile-username">
                                        <a href="https://steamcommunity.com/profiles/{{ user.steam }}">@{{ user.username }}</a>
                                    </span>

                                    <div class="s-commerce-user-profile-name">
                                        {{ user.name }} {{ user.last_name }}
                                    </div>
                                </div>
                            </div>

                            <div class="s-commerce-user-profile-item">
                                {{ user.email }}
                            </div>

                            {% if user.register_date %}
                                <div class="s-commerce-user-profile-item">
                                    {{ user.register_date|date_format }}
                                </div>
                            {% endif %}

                            {% if session.get('admin') and spent_incomes and register_delta %}
                                {% if spent_incomes >= config.MIN_SPENT_INCOMES_VAC_GAMES and register_delta >= config.VAC_GAMES_TIME_DELTA %}
                                    <div class="s-commerce-offer-hud s-commerce-product-alert-success">
                                        <i class="glyphicon glyphicon-ok"></i> Esta cuenta satisface con los requerimientos para realizar compras de productos con AntiCheat
                                    </div>
                                {% else %}
                                    <div class="s-commerce-offer-hud s-commerce-product-alert-fail">
                                        <i class="glyphicon glyphicon-remove"></i> Esta cuenta aún no satisface con los requerimientos para realizar compras de productos con AntiCheat
                                    </div>
                                {% endif %}
                            {% endif %}

                            {% if session.get('admin') %}
                                <div class="s-commerce-user-profile-item">
                                    {{ user.ip_address or '' }}
                                </div>

                                <div class="s-commerce-user-profile-item">
                                    Wallet (nin): {{ user.wallet }}
                                </div>

                                <div class="s-commerce-user-profile-item">
                                    Money (emi): {{ user.money }}
                                </div>

                                <div class="s-commerce-user-profile-item">
                                    Total: {{ user.money + user.wallet }}
                                </div>

                                <div class="s-commerce-user-profile-item">
                                    <a class="btn btn-primary" href="{{ url_for('admin.panel.admin_model_edit', object_id=user.id, model_name='User') }}">
                                        Editar usuario
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-11 col-sm-11 col-xs-11">
                        <div class="s-commerce-user-profile-right">
                            <ul class="nav nav-tabs">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab">Actividad</a>
                                </li>

                                <li>
                                    <a href="#tab2" data-toggle="tab">Pedidos</a>
                                </li>

                                <li>
                                    <a href="#tab3" data-toggle="tab">Configuración</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="tab1">
                                    {% include "views/user/notifications.html" %}
                                </div>

                                <div class="tab-pane" id="tab2">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Identificador</th>
                                                <th>Producto(s)</th>
                                                <th>Fecha de generación</th>
                                                <th>Fecha de envío</th>
                                                <th>Total</th>
                                                <th>Estado</th>
                                            </tr>
                                        </thead>

                                        {% macro process_state(request) %}
                                            {% if request.get('accepted') %}
                                                success
                                            {% elif request.get('paid') %}
                                                warning
                                            {% endif %}
                                        {% endmacro %}

                                        <tbody>
                                            {% for userrequest in userrequests %}
                                                <tr class="{{ process_state(userrequest) }}">
                                                    <td>
                                                        <a href="{% if session.get('admin') %}/admin{% endif %}/historial/A-{{ userrequest.id }}">
                                                            #A-{{ userrequest.id }}
                                                        </a>
                                                    </td>

                                                    <td>
                                                        {% for relation in userrequest['userrequest_relations'] %}
                                                            <div class="s-commerce-table-product">
                                                                {% set product = relation.get('product') %}

                                                                {% if product.get('app_id') %}
                                                                    <a href="{{ url_for('views.store.store_app_id', app_id=product.get('app_id')) }}">
                                                                {% elif product.get('sub_id') %}
                                                                    <a href="{{ url_for('views.store.store_sub_id', sub_id=product.get('sub_id')) }}">
                                                                {% endif %}

                                                                {{ relation['product']['title'] }}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </td>

                                                    <td>{{ userrequest['date']|date_format }}</td>

                                                    <th>
                                                        {% if userrequest.get('accepted_date') %}
                                                            {{ userrequest.get('accepted_date')|date_format }}
                                                        {% else %}
                                                            Inexistente
                                                        {% endif %}
                                                    </th>

                                                    <td>${{ userrequest['price']|price_format }}</td>

                                                    <td>
                                                        {% if userrequest.get('accepted') %}
                                                            Pedido aceptado
                                                        {% elif userrequest.get('paid') %}
                                                            Pago ingresado
                                                        {% else %}
                                                            Pedido generado
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for creditrequest in creditrequests %}
                                                <tr class="{{ process_state(creditrequest) }}">
                                                    <td>
                                                        <a href="{% if session.get('admin') %}/admin{% endif %}/historial/B-{{ creditrequest.id }}">
                                                            #B-{{ creditrequest.id }}
                                                        </a>
                                                    </td>

                                                    <td>
                                                        Carga de créditos
                                                    </td>

                                                    <td>{{ creditrequest['date']|date_format }}</td>

                                                    <th>
                                                        {% if creditrequest.get('accepted_date') %}
                                                            {{ creditrequest.get('accepted_date')|date_format }}
                                                        {% else %}
                                                            Inexistente
                                                        {% endif %}
                                                    </th>

                                                    <td>${{ creditrequest['amount']|price_format }}</td>

                                                    <td>
                                                        {% if creditrequest.get('accepted') %}
                                                            Pedido aceptado
                                                        {% elif creditrequest.get('paid') %}
                                                            Pago ingresado
                                                        {% else %}
                                                            Pedido generado
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}

                                            {% for paidrequest in paidrequests %}
                                                <tr class="{{ process_state(paidrequest) }}">
                                                    <td>
                                                        <a href="{% if session.get('admin') %}/admin{% endif %}/historial/C-{{ paidrequest.id }}">
                                                            #C-{{ paidrequest.id }}
                                                        </a>
                                                    </td>

                                                    <td>
                                                        {% for relation in paidrequest['paidrequest_relations'] %}
                                                            <div class="s-commerce-table-product">
                                                                {% set product = relation.get('product') %}

                                                                {% if product.get('app_id') %}
                                                                    <a href="{{ url_for('views.store.store_app_id', app_id=product.get('app_id')) }}">
                                                                {% elif product.get('sub_id') %}
                                                                    <a href="{{ url_for('views.store.store_sub_id', sub_id=product.get('sub_id')) }}">
                                                                {% endif %}

                                                                {{ relation['product']['title'] }}
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </td>

                                                    <td>{{ paidrequest['date']|date_format }}</td>

                                                    <th>
                                                        {% if paidrequest.get('accepted_date') %}
                                                            {{ paidrequest.get('accepted_date')|date_format }}
                                                        {% else %}
                                                            Inexistente
                                                        {% endif %}
                                                    </th>

                                                    <td>${{ paidrequest['price']|price_format }}</td>

                                                    <td>
                                                        {% if paidrequest.get('accepted') %}
                                                            Pedido aceptado
                                                        {% elif paidrequest.get('paid') %}
                                                            Pago ingresado
                                                        {% else %}
                                                            Pedido generado
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane" id="tab3">
                                    {{ wtf.quick_form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
