<div id="products-page-{{ page }}-{{ section_id }}" class="products-page">
    {% for row in products|batch(4, {}) %}
        <div class="row">
            {% for product in row %}
                {% if product %}
                    <div class="col-xs-12 col-sm-8 col-md-4">
                        <a href="{{ url_for('views.store.store_app_id', app_id=(product.get('app_id') or product.get('sub_id'))) }}" class="visible-xs visible-sm">
                            <div class="s-commerce-product-title-mobile">
                                {{ product['title'] }}
                            </div>
                        </a>

                        {% set background = None %}
                        {% set assets = product['assets'] %}

                        {% if assets['capsule'] %}
                            {% set background = '/static/img/product/' + product['id']|string + '/capsule.jpg?' + config.CACHE_BREAK_RAND|string %}
                        {% elif assets['header'] %}
                            {% set background = '/static/img/product/' + product['id']|string + '/' + assets['header'] + '?' + config.CACHE_BREAK_RAND|string %}
                        {% else %}
                            {% set background = '/static/steam_avatar_null.jpg?' + config.CACHE_BREAK_RAND|string %}
                        {% endif %}

                        {% if session.get('admin') %}
                            <div class="s-commerce-admin-hud">
                                <a class="btn btn-default btn-xs" href="{{ url_for('admin.panel.admin_model_edit', object_id=product['id'], model_name='Product') }}">Editar producto</a>
                            </div>
                        {% endif %}

                        <div class="s-commerce-3d-product" style="background-image: url('{{ background }}'); margin-top: 10px;">
                            <a href="{{ url_for('views.store.store_app_id', app_id=(product.get('app_id') or product.get('sub_id'))) }}" class="s-commerce-3d-product-wrapper">
                                <div class="s-commerce-3d-product-inner">
                                    <div class="s-commerce-3d-product-title">
                                        {{ product['title'] }}
                                    </div>
                                </div>

                                <a href="{{ url_for('views.store.store_app_id', app_id='3d-garrys-mod') }}">
                                    <div class="s-commerce-3d-price-tag">
                                        {% if product.get('price_active') and product.get('price_value') %}
                                            ${{ product.get('price_value')|price_format }}

                                            {% if product.get('price_currency') and session.get('admin') %}
                                                <img src="{{ url_for('static', filename='img/p.gif') }}" alt="{{ product.get('price_currency') }}" width="16" height="11" class="flag flag-{{ product.get('price_currency')|lower }}">
                                            {% endif %}
                                        {% else %}
                                            No activo
                                        {% endif %}
                                    </div>
                                </a>
                            </a>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
