{% extends "layout/base.html" %}

{% block header %}
    {{ url_for('static', filename='js/jquery.range-min.js')|js_file|safe }}
    {{ url_for('static', filename='css/jquery.range.css')|css_file|safe }}
{% endblock %}

{% block title %}ExtremeGaming - Catálogo{% endblock %}

{% block body %}
    {% include "views/store/sliders.html" %}

    {% include "views/store/offers.html" %}

    <div class="s-commerce-products">
        <div class="container">
            <div class="s-commerce-products-title">
                Productos
            </div>
        </div>

        <div class="container">
            <div class="s-commerce-products-list">
                {% include "views/store/products.html" %}
                {% include "views/store/offer_products.html" %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var pages = {};
        var is_loading = false;
        var offset = 100;

        var Store = function() {
            var self = this;

            this.get_section_page = function(section_id) {
                var pathname = document.location.pathname.match('/pagina/([0-9]+)');

                if (pathname == null) {
                    if (pages[section_id] == undefined) {
                        pages[section_id] = 0;
                    }
                } else {
                    if (pages[section_id] == undefined) {
                        pages[section_id] = parseInt(pathname[1]);
                    }
                }

                return pages[section_id];
            };

            this.get_active_section = function(){
                return $('select').find('option.v5-catalog-section:selected').val()
            };

            this.load_next_page = function() {
                var current_section = self.get_active_section();

                if (pages[current_section] === false) {
                    return;
                }

                var new_page = self.get_section_page(current_section) + 1;

                $.ajax({
                    type: 'GET',
                    url: '/ajax/store/products/page/' + current_section + '/' + new_page,
                    success: function(data){
                        window.history.replaceState(
                            {page: new_page},
                            'Página ' + new_page,
                            '/comprar/pagina/' + new_page
                        );

                        $('.v5-products[data-sectionid="' + current_section + '"]').append(data);
                        pages[current_section]++;
                    },
                    error: function(data){
                        if (data.status == 404 && !(pages[current_section] === false)) {
                            Materialize.toast(
                                'Oops! No encontramos la siguiente página. Hasta acá llegamos 😕', 5000
                            );

                            pages[current_section] = false;
                        }
                    }
                });
            };
        };

        function load_next_page() {
            var catalog_visible = $('#catalog').is(':visible') || $('#offers').is(':visible');

            if (!is_loading && catalog_visible) {
                is_loading = true;

                var store = new Store();
                store.load_next_page();

                setTimeout(function(){
                    is_loading = false;
                }, 2000);
            }
        }

        $(document).scroll(function(){
            if ($('.tabs').find('.active').attr('href') != '#offers') {
                if($(window).scrollTop() + offset >= $(document).height() - $(window).height()){
                    load_next_page();
                }
            }
        });

        $('select.v5-catalog-sections').on('change', function(){
            var $this = $(this);
            var section_id = $this.find(':selected').val();

            if ($('.tabs').find('.active').attr('href') != '#offers') {
                $('.v5-products').hide();

                if (pages[section_id] == undefined) {
                    pages[section_id] = 0;
                }

                load_next_page();

                $('.v5-products[data-sectionid="' + section_id + '"]').show();
            }
        });
    </script>
{% endblock %}