{% extends "layout/base.html" %}

{% block header %}
    {{ url_for('static', filename='js/jquery.bootpag.min.js')|js_file|safe }}
{% endblock %}

{% block title %}ExtremeGaming - Catálogo{% endblock %}

{% block body %}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% if not session.get('user') %}
        {% include "views/store/welcome.html" %}
    {% endif %}

    {% if session.get('user') and pending_requests|length > 0 %}
        {% include "views/store/pending_alert.html" %}
    {% endif %}

    {% if session.get('user') and pending_shipping|length > 0 %}
        {% include "views/store/pending_shipping.html" %}
    {% endif %}

    {% include "views/store/sliders.html" %}

    {% macro plural(singular, count) %}{{ singular }}{% if count > 1 %}s{% endif %}{% endmacro %}

    {% if session.get('user') and pending_testimonials|length > 0 %}
        <div class="container">
            <div class="s-commerce-testimonials-alert">
                <div class="main">
                    <div class="testimonials-alert-title">
                        ¡Tienes {{ pending_testimonials|length }} {{ plural('testimonio', pending_testimonials|length) }} {{ plural('pendiente', pending_testimonials|length) }}!
                    </div>

                    <div class="testimonials-alert-body">
                        ¿Deseas dejar un testimonio de tus compras finalizadas? Tu opinión nos ayuda a mejorar el servicio
                    </div>

                    <div class="testimonials-button">
                        <a href="{{ url_for('views.user.user_testimonials_new') }}" class="btn btn-default">Dejar {{ plural('testimonio', pending_testimonials|length) }}</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if announces|length > 0 %}
        <div class="container">
            <div class="main">
                {% for announce in announces %}
                    {% if session.get('admin') %}
                        <a href="{{ url_for('admin.panel.admin_model_edit', object_id=announce['id'], model_name='Announces') }}" class="btn btn-default" style="margin-top: 5px;">Editar anuncio</a>
                    {% endif %}

                    <div class="s-commerce-announce">{{ announce['content']|safe }}</div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if active_section != 'offers' %}
        {% include "views/store/offers.html" %}
    {% endif %}

    <div class="s-commerce-products">
        <div class="container">
            <div class="s-commerce-products-title">
                Productos
            </div>
        </div>

        <div class="container">
            <div class="s-commerce-section-selector">
                <div class="row">
                    <div class="col-md-2">
                        <span class="s-commerce-section-title">Sección</span>
                    </div>

                    <div class="col-md-14">
                        <select class="form-control">
                            {% for section in sections %}
                                <option value="{{ section.id }}"{% if selected_section and selected_section == section.title %} selected="selected" {% endif %}>{{ section.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            {% for section in sections %}
                <div class="s-commerce-products-list" data-sectionid="{{ section.id }}">
                    {% if loop.first and not selected_section %}
                        {% include "views/store/products.html" %}
                    {% elif section.title == selected_section %}
                        {% include "views/store/products.html" %}
                    {% endif %}
                </div>
            {% endfor %}

            <div class="s-commerce-products-selection">
                <div id="page-selection" class="hidden-xs"> </div>
                <div id="mobile-page-selection" class="visible-xs"> </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-3">
                <div class="fb-page" data-href="https://www.facebook.com/ExtremeGamingSTEAM/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ExtremeGamingSTEAM/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ExtremeGamingSTEAM/">ExtremeGaming - Venta de Juegos Steam</a></blockquote></div>
            </div>

            <div class="col-md-8">
                <a class="twitter-timeline" data-width="300" data-height="500" href="https://twitter.com/ExtremeGamingAR">Tweets by ExtremeGamingAR</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>

    {% if session.get('admin') %}
        <footer>
            <div class="container">
                <div class="s-commerce-footer">
                    steamcommerce running on {{ config.CURRENT_USER }}@{{ config.CURRENT_MACHINE }} on pid {{ config.CURRENT_PID }} @ commit {{ config.CURRENT_COMMIT }} <br>
                    Process spawned at {{ config.SPAWN_TIME }}
                </div>
            </div>
        </footer>
    {% endif %}

    <script type="text/javascript">
        var INITIAL_MAX_PAGES = 10;

        $('#page-selection').bootpag({
            total: INITIAL_MAX_PAGES,
            page: {{ page}},
            wrapClass: 'pagination pagination-lg',
            maxVisible: 10,
            next: 'Siguiente',
            prev: 'Anterior',
            leaps: false
        }).on('page', function(event, page) {
            var store = new Store();
            var section_id = store.get_active_section();

            if ($('#products-page-' + page + '-' + section_id).length) {
                $('.products-page').hide();
                $('#products-page-' + page + '-' + section_id).show();
            } else {
                $('.products-page').hide();

                var store = new Store();
                store.load_next_page(section_id, page);
            }
        });

        $('#mobile-page-selection').bootpag({
            total: INITIAL_MAX_PAGES,
            page: {{ page}},
            wrapClass: 'pagination',
            maxVisible: 5,
            next: '<',
            prev: '>',
            leaps: false
        }).on('page', function(event, page) {
            var store = new Store();
            var section_id = store.get_active_section();

            if ($('#products-page-' + page + '-' + section_id).length) {
                $('.products-page').hide();
                $('#products-page-' + page + '-' + section_id).show();
            } else {
                $('.products-page').hide();

                var store = new Store();
                store.load_next_page(section_id, page);
            }
        });

        $('.s-commerce-section-selector select').on('change', function() {
            var store = new Store();
            var section_id = store.get_active_section();
            var page = 1;

            $('.products-page').hide();
            $('#page-selection').bootpag({page: page});
            $('#page-selection').bootpag({total: 10});

            if ($('#products-page-' + page + '-' + section_id).length) {
                $('#products-page-' + page + '-' + section_id).show();
            } else {
                var store = new Store();
                store.load_next_page(section_id, page);
            }
        });

        var Store = function() {
            var self = this;

            this.get_section_page = function(section_id) {
                var pathname = document.location.pathname.match('/pagina/([0-9]+)');

                if (pathname == null) {
                    if (pages[section_id] == undefined) {
                        pages[section_id] = 0;
                    }
                } else {
                    if (pages[section_id] == undefined) {
                        pages[section_id] = parseInt(pathname[1]);
                    }
                }

                return pages[section_id];
            };

            this.get_active_section = function() {
                return $('.s-commerce-section-selector select').find('option:selected').val()
            };

            this.load_next_page = function(section, page) {
                $.ajax({
                    type: 'POST',
                    url: '/products/',
                    data:{
                        section: section,
                        page: page{% if active_section == 'offers' %},
                        offers: true
                        {% endif %}
                    },
                    success: function(data){
                        $('.s-commerce-products-list[data-sectionid="' + section + '"]').append(data);

                        INITIAL_MAX_PAGES = INITIAL_MAX_PAGES + 10;
                        $('#page-selection').bootpag({total: INITIAL_MAX_PAGES});
                    },
                    error: function(data){
                        $('#page-selection').bootpag({total: page - 1});
                        $('#products-page-' + (page - 1) + '-' + section).show();

                        var notification = new Notification();
                        notification.push('Hubo un problema al cargar la página nueva, intentalo nuevamente.');
                    }
                });
            };
        };
    </script>
{% endblock %}
