<div class="container">
    <div class="row">
        <div class="col-md-16">
            <div class="s-commerce-offers">
                {% if promotions|length > 0 %}
                    <span class="s-commerce-offers-title">
                        Ofertas destacadas: {{ promotions[0].title }}

                        {% if promotions[0].ending_date %}
                            (Finaliza {{ promotions[0].ending_date|date_format }})
                        {% endif %}
                    </span>

                    {% if active_section != 'offers' %}
                        <a class="s-commerce-offers-button pull-right" href="{{ url_for('views.store.store_offers') }}">
                            Ver todas ({{promotions|length }})
                        </a>
                    {% endif %}
                {% endif %}

                <div class="s-commerce-offers-featured">
                    {% if promotion_products|length > 0 %}
                        {% for row in promotion_products[:4]|batch(2, {}) %}
                            <div class="row">
                                {% if row != {} %}
                                    {% for promotion_product in row %}
                                        {% if promotion_product %}
                                            <div class="col-md-8">
                                                <div class="s-commerce-offer-product-wrapper">
                                                    {% if promotion_product.get('app_id') %}
                                                        <a href="{{ url_for('views.store.store_app_id', app_id=promotion_product.get('app_id')) }}">
                                                    {% elif promotion_product.get('sub_id') %}
                                                        <a href="{{ url_for('views.store.store_sub_id', sub_id=promotion_product.get('sub_id')) }}">
                                                    {% endif %}

                                                        {% set background = None %}
                                                        {% set assets = promotion_product['assets'] %}

                                                        {% if assets['capsule'] %}
                                                            {% set background = '/static/img/product/' + promotion_product['id']|string + '/capsule.jpg?' + config.CACHE_BREAK_RAND|string %}
                                                        {% elif assets['header'] %}
                                                            {% set background = '/static/img/product/' + promotion_product['id']|string + '/' + assets['header'] + '?' + config.CACHE_BREAK_RAND|string %}
                                                        {% else %}
                                                            {% set background = '/static/steam_avatar_null.jpg?' + config.CACHE_BREAK_RAND|string %}
                                                        {% endif %}

                                                        <div class="s-commerce-offer-product" style="background: url('{{ background }}') no-repeat scroll center center / cover ;">
                                                            <div class="s-commerce-offer-product-hud">
                                                                <div class="s-commerce-offer-product-title">
                                                                    {{ promotion_product['title'] }}
                                                                </div>

                                                                <div class="s-commerce-offer-product-description">
                                                                    {% if promotion_product.get('description') %}
                                                                        {{ promotion_product.get('description')[:200] }}
                                                                    {% endif %}
                                                                </div>
                                                            </div>

                                                            <div class="s-commerce-offer-buttons">
                                                                {% if promotion_product.get('app_id') %}
                                                                    <a class="s-commerce-offer-price" href="{{ url_for('views.store.store_app_id', app_id=promotion_product.get('app_id')) }}">
                                                                {% elif promotion_product.get('sub_id') %}
                                                                    <a class="s-commerce-offer-price" href="{{ url_for('views.store.store_sub_id', sub_id=promotion_product.get('sub_id')) }}">
                                                                {% endif %}
                                                                    {% if promotion_product['price_active'] and promotion_product['price_value'] %}
                                                                        ${{ promotion_product['price_value']|price_format }}

                                                                        {% if promotion_product.get('price_currency') and session.get('admin') %}
                                                                            <img src="{{ url_for('static', filename='img/p.gif') }}" alt="{{ promotion_product.get('price_currency') }}" width="16" height="11" class="flag flag-{{ promotion_product.get('price_currency')|lower }}">
                                                                        {% endif %}
                                                                    {% else %}
                                                                        No activo
                                                                    {% endif %}
                                                                </a>

                                                                <span class="s-commerce-offer-cart-button pull-right" data-productid="{{ promotion_product['id'] }}">
                                                                    Agregar al carrito
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
