{% extends "layout/base.html" %}

{% block title %}ExtremeGaming - {{ product.title }} {% if product.price %}- ${{ product.price.price|price_format }}{% endif %}{% endblock %}

{% block header %}
    {{ url_for('static', filename='js/jquery.timeago.js')|js_file|safe }}
    {{ url_for('static', filename='js/jquery.timeago.es.js')|js_file|safe }}
{% endblock %}

{% block body %}
    {% if product.get('assets').get('background', False) %}
        <style type="text/css">
            body{
                background: -moz-linear-gradient(top, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 19%, rgba(28,38,47,0.8) 27%, rgba(28,38,47,0.6) 28%, rgba(28,38,47,0.8) 100%), url("../../static/img/product/{{ product.id }}/{{ product['assets']['background'] }}");
                background: -webkit-linear-gradient(top, rgba(28,38,47,0.6) 0%,rgba(28,38,47,0.6) 19%,rgba(28,38,47,0.8) 27%,rgba(28,38,47,0.6) 28%,rgba(28,38,47,0.8) 100%), url("../../static/img/product/{{ product.id }}/{{ product['assets']['background'] }}");
                background: linear-gradient(to bottom, rgba(28,38,47,0.6) 0%,rgba(28,38,47,0.6) 19%,rgba(28,38,47,0.8) 27%,rgba(28,38,47,0.6) 28%,rgba(28,38,47,0.8) 100%), url("../../static/img/product/{{ product.id }}/{{ product['assets']['background'] }}");
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1c262f', endColorstr='#1c262f',GradientType=0 ); /* IE6-9 */
                background-repeat: repeat-x;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>
    {% else %}
        <style type="text/css">
            body{
                background-image: url("../../static/img/blue_body_repeat.jpg");
                background-attachment: fixed;
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    {% endif %}

    <div class="s-commerce-product-container">
        <div class="container">
            <div class="row">
                <div class="col-md-14 col-md-padding col-md-offset-1">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message[0] }}" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    {{ message[1] }}
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}

                    {% if not product.get('enabled') %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            *** PRODUCTO DESHABILITADO - TRATAR CON CUIDADO ***
                        </div>
                    {% endif %}

                    {% if not product.get('visible') %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Producto no visible a los usuarios
                        </div>
                    {% endif %}

                    {% if product.get('run_stock') and product.get('stock') == 0 %}
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            Producto fuera de stock
                        </div>
                    {% endif %}

                    <div class="s-commerce-product-top-hud">
                        <span class="s-commerce-product-hud-title">
                            {{ product.get('title') }}
                        </span>

                        <span class="s-commerce-product-hud-price pull-right">
                            {% if product.get('price_active') and product.get('price_value') %}
                                ${{ product['price_value']|price_format }} ARS

                                {% if product.get('price_currency') and session.get('admin') %}
                                    <img src="{{ url_for('static', filename='img/p.gif') }}" alt="{{ product.get('price_currency') }}" width="16" height="11" class="flag flag-{{ product.get('price_currency')|lower }}">
                                {% endif %}
                            {% else %}
                                Precio inactivo
                            {% endif %}
                        </span>

                        <div class="s-commerce-product-links">
                            <span class="s-commerce-product-hud-link">
                                <a href="{{ product.get('store_url') }}" target="_blank">Ver en tienda</a>
                            </span>

                            <span class="s-commerce-product-hud-section-link pull-right">
                                <a href="{{ url_for('views.store.store_catalog') }}">{{ product.get('section').get('title') }}</a>
                            </span>
                        </div>
                    </div>

                    {% if product.get('promotion') and product.get('is_promotional') %}
                        <div class="s-commerce-offer-hud">
                            <span class="s-commerce-product-in-offer">
                                ¡Producto en oferta!
                            </span>

                            {% if product.get('promotion').get('ending_date') or product.get('special_ending_date') %}
                                <span class="s-commerce-product-offer-date">
                                    Oferta valida hasta {{ (product.get('special_ending_date') or product.get('promotion').get('ending_date'))|date_format }}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if product.get('product_type') == 2 and product.get('product_codes')|length > 0 %}
                        <div class="s-commerce-offer-hud">
                            <span class="s-commerce-product-in-offer">
                                ¡Este producto se entrega inmediatamente al ingresar el pago!
                            </span>

                            <span class="s-commerce-product-offer-date">
                                Hay {{ product.get('product_codes')|length }} códigos/links de entrega inmediata restantes
                            </span>
                            <p>
                                <i><small>* Solo aplicable para compras realizadas fuera del carrito</small></i>
                            </p>
                        </div>
                    {% endif %}

                    {% if product.get('run_stock') and product.get('stock') > 0 %}
                        <div class="s-commerce-offer-hud">
                            <span class="s-commerce-product-in-offer">
                                Producto en stock limitado
                            </span>

                            <span class="s-commerce-product-offer-date">
                                Hay {{ product.get('stock') }} unidades en stock
                            </span>
                        </div>
                    {% endif %}

                    <div class="s-commerce-product-body">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10">
                                <div class="s-commerce-body-inner">
                                    {% if product.get('description') %}
                                        <div class="s-commerce-description-title">
                                            Descripción
                                        </div>

                                        <div class="s-commerce-product-description">{{ product.get('description', '')[:1024] }}</div>
                                        <div class="s-commerce-product-description s-commerce-product-description-full" style="display: none; white-space: pre-wrap;">{{ product.get('description') }}</div>

                                        {% if product.get('description', '')|length > 1024 %}
                                            <button class="s-commerce-read-more btn btn-default">Leer mas</button>
                                        {% endif %}

                                        <script type="text/javascript">
                                            $('.s-commerce-read-more').on('click', function(){
                                                $('.s-commerce-product-description').first().toggle();
                                                $('.s-commerce-product-description-full').toggle();

                                                $(this).text() == 'Leer mas' ? $(this).text('Leer menos') : $(this).text('Leer mas');
                                            });
                                        </script>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                {% if session.get('admin') %}
                                    <div class="s-commerce-product-admin-hud">
                                        <a class="btn btn-default" href="https://steamdb.info/{{ 'app' if product.get('app_id') else 'sub' }}/{{ product.get('app_id') or product.get('sub_id') }}" target="_blank">
                                            Ver en SteamDB
                                        </a>

                                        <a class="btn btn-default" href="https://dispenser.tf?s={{ '+'.join(product.title.split(' ')) }}">
                                            Buscar en Dispenser.TF
                                        </a>

                                        <a class="btn btn-default" href="{{ url_for('admin.views.queue_price_add', product_id=product.get('id')) }}">
                                            Añadir a la cola de precios
                                        </a>

                                        <a class="btn btn-default" href="{{ url_for('admin.views.queue_assets_add', product_id=product.get('id')) }}">
                                            Añadir a la cola de recursos
                                        </a>
                                    </div>
                                {% endif %}

                                <div class="s-commerce-description-title">
                                    Características
                                </div>

                                <div class="s-commerce-product-specs">
                                    {% for spec in product.get('product_specs', []) %}
                                        {% if spec['visible'] %}
                                            <span class="s-commerce-spec">
                                                <a href="#">{{ spec['title'] }}</a>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="s-commerce-description-title">
                                    Categorías
                                </div>

                                <div class="s-commerce-product-categories">
                                    {% for tag in product.get('product_tags', []) %}
                                        {% if tag['visible'] %}
                                            <span class="s-commerce-category">
                                                <a href="#">{{ tag['title'] }}</a>
                                            </span>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if g.user %}
                        <div class="s-commerce-product-view-buttons">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="s-commerce-purchase-button">
                                        {% if product.get('price_active') and product.get('price_value') %}
                                            Comprar
                                        {% else %}
                                            Precio inactivo
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="s-commerce-cart-button" data-productid="{{ product.get('id') }}">
                                        Agregar al carrito
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="s-commerce-product-login-button">
                            <a href="{{ url_for('views.user.user_login') }}">
                                Ingresa con tu cuenta de Steam para poder comprar
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if session.get('admin') %}
        <div class="container">
            <div class="main">
                <div class="col-md-14 col-md-padding col-md-offset-1">
                    <div class="s-commerce-product-admin">
                        <a class="btn btn-default" href="{{ url_for('admin.panel.admin_model_edit', model_name='Product', object_id=product.get('id')) }}">
                            Editar producto
                        </a>

                        <a class="btn btn-default" href="{{ url_for('admin.panel.admin_model_edit', model_name='Section', object_id=product.get('section').get('id')) }}">
                            Editar sección ({{ product.get('section').get('title') }})
                        </a>

                        {% if product.get('is_promotional') and product.get('promotion') %}
                            <a class="btn btn-default" href="{{ url_for('admin.panel.admin_model_edit', model_name='StorePromotion', object_id=product.get('promotion').get('id')) }}">
                                Editar promoción ({{ product.get('promotion').get('title') }})
                            </a>
                        {% endif %}
                    </div>

                    <div class="s-commerce-product-admin">
                        <a class="btn btn-primary" href="{{ url_for('admin.panel.admin_panel_add_code', product_id=product.get('id')) }}">Añadir código/link de producto</a>
                        <a class="btn btn-primary" href="{{ url_for('admin.panel.admin_panel_add_price', product_id=product.get('id')) }}">Agregar precio</a>
                    </div>

                    {% if product.get('product_codes')|length > 0 %}
                        <div class="s-commerce-product-admin">
                            {% for code in product.get('product_codes') %}
                                {% if code.get('user_owner') == session.get('user') or session.get('user') == 1 %}
                                    <div style="margin: 5px 0;">
                                        <a class="btn btn-default" href="{{ url_for('admin.panel.admin_model_edit', model_name='ProductCode', object_id=code.get('id')) }}">
                                            Editar código #{{ code.get('id') }} ({{ code.get('code') }})
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <script type="text/javascript">
        jQuery.timeago.settings.allowFuture = true;

       jQuery(document).ready(function() {
            $("span.timeago").timeago();
        });

       {% if product.get('price_active') and product.get('price_value') %}
           function userrequest_swal(){
                swal({
                    title: "Confirmar compra de {{ product.get('title') }} por ${{ product.get('price_value')|price_format }} ARS",
                    text: "Al generar una boleta en nuestro sistema estas expresando tu acuerdo con nuestros <a target=\"_blank\" href=\"#\">Términos y condiciones</a>.",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: "Cancelar",
                    showLoaderOnConfirm: true,
                    html: true,
                },
                function(){
                    $.ajax({
                        url: '/ajax/store/userrequest/generate/',
                        type: 'POST',
                        data:{
                            product_id: {{ product.get('id') }}
                        },
                        success: function(data){
                            var json_data = data;
                            var alert_message = '';

                            {% if product.get('is_promotional') %}
                                var alert_message = '<br><br><b>¡Por favor recuerda reservar este pedido!</b><br>Este pedido debe ser reservado con una imagen del recibo de pago, a través de nuestro <a href="#" target="_blank">sistema de reservas</a>. Al hacer esto te podemos guardar una copia al precio de oferta, ¡de otra manera nos veremos obligados a devolverte el monto abonado!';
                            {% endif %}

                            swal(
                                {
                                    title: '¡Pedido #A-' + json_data['userrequest'] + ' generado!',
                                    text: 'Tu código de barras manual es: <b>' + json_data['bar_code'] + '</b>' + alert_message,
                                    type: 'success',
                                    html: true,
                                    confirmButtonText: 'Ver boleta para imprimir',
                                    cancelButtonText: 'Cerrar',
                                    closeOnConfirm: false,
                                    closeOnCancel: true,
                                    showCancelButton: true,
                                },
                                function(){
                                    window.open('https://www.cuentadigital.com/verfactura.php?id=' + json_data['bar_code'], '_blank');
                                    {% if product.get('is_promotional') %}
                                        swal({title: 'Un recordatorio', text: alert_message, html: true});
                                    {% endif %}
                                }
                            );
                        },
                        error: function(data){
                            var json_data = $.parseJSON(data.responseText);

                            if (json_data['status'] == 0) {
                                swal('Error de formulario', 'No hemos podido procesar tu pedido. Por favor refresca el sitio e intenta nuevamente', 'error');
                            } else if (json_data['status'] == 1) {
                                swal('Producto no encontrado', 'No hemos encontrado el producto que has solicitado', 'error');
                            } else if (json_data['status'] == 2) {
                                swal('Producto no disponible', 'El producto que has solicitado ya no se encuentra disponible', 'error');
                            } else if (json_data['status'] == 3) {
                                swal('Precio no disponible', 'No se encuentra un precio activo para el producto solicitado', 'error');
                            } else if (json_data['status'] == 4) {
                                swal('Precio únicamente disponible por créditos', 'No se encuentra un precio de boleta activo para el producto solicitado', 'error');
                            } else if (json_data['status'] == 5 || json_data['status'] == 6) {
                                swal(
                                    'Error con CuentaDigital',
                                    'El sistema no se pudo comunicar con el servicio de terceros para la emisión de boletas. Lamentamos los inconvenientes. Recomendamos intentar nuevamente más tarde.',
                                    'error'
                                );
                            }
                        }
                    });
                });
           }

           function paidrequest_swal(){
                swal({
                    title: "Confirmar compra de {{ product.get('title') }} por ${{ product.get('price_value')|price_format }} créditos",
                    text: "Al generar una compra con créditos en nuestro sistema estas expresando tu acuerdo con nuestros <a target=\"_blank\" href=\"#\">Términos y condiciones</a>. <b>Se descontará el monto de ${{ product.get('price_value')|price_format }} de créditos de tu usuario</b>",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    cancelButtonText: "Cancelar",
                    confirmButtonText: "Autorizar compra por ${{ product.get('price_value')|price_format }}",
                    showLoaderOnConfirm: true,
                    html: true,
                },
                function(){
                    $.ajax({
                        url: '/ajax/store/paidrequest/generate/',
                        type: 'POST',
                        data:{
                            product_id: {{ product.get('id') }}
                        },
                        success: function(data){
                            var json_data = data;

                            if (!json_data['instant']) {
                                text_content = 'En las próximas 1hs a 48hs estaremos procesando tu pedido. En caso de que se haya encontrado en "Entrega Inmediata" entonces se creará una nota con tu código/link de activación en tu pedido.';
                            } else {
                                text_content = '¡Tu pedido fue entregado inmediatamente! En el historial de tu pedido podrás encontrar un nuevo mensaje con tu código/link de activación. <strong>También te copiamos el mensaje aquí:<br><br>' + json_data['message'] + '</strong>';
                            }

                            swal({
                                title: 'Pedido #C-' + json_data['paidrequest'] + ' realizado',
                                text: text_content,
                                type: 'success',
                                showCancelButton: true,
                                html: true,
                                cancelButtonText: "Cerrar"
                            });
                        },
                        error: function(data) {
                            var json_data = $.parseJSON(data.responseText);

                            if (json_data['status'] == 0) {
                                swal('Error de formulario', 'No hemos podido procesar tu pedido. Por favor refresca el sitio e intenta nuevamente', 'error');
                            } else if (json_data['status'] == 1) {
                                swal('Producto no encontrado', 'No hemos encontrado el producto que has solicitado', 'error');
                            } else if (json_data['status'] == 2) {
                                swal('Producto no disponible', 'El producto que has solicitado ya no se encuentra disponible', 'error');
                            } else if (json_data['status'] == 3) {
                                swal('Precio no disponible', 'No se encuentra un precio activo para el producto solicitado', 'error');
                            } else if (json_data['status'] == 4) {
                                swal('Créditos insuficientes', 'No dispones de fondos suficientes para realizar esta acción. Para cargar fondos a tu cuenta presiona en tu monto actual en la parte superior del sitio', 'error');
                            } else if (json_data['status'] == 5) {
                                swal('Producto fuera de stock', 'Se ha agotado el stock del producto solicitado', 'error');
                            }
                        }
                    });
                });
           }

           $('.s-commerce-purchase-button').on('click', function() {
                swal({
                    title: "Comprar {{ product.get('title') }} por ${{ product.get('price_value')|price_format }} ARS",
                    showCancelButton: true,
                    closeOnConfirm: false,
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    cancelButtonText: "Generar boleta",
                    html: "true",
                    text: "<style type=\"text/css\">.sweet-alert button.cancel{background-color: #2cb16e !important;}</style>",
                    confirmButtonColor: "#2cb16e",
                    confirmButtonText: "Pagar con créditos"
                },
                function(isConfirmed) {
                    if (!isConfirmed) {
                        userrequest_swal();
                    } else {
                        paidrequest_swal();
                    }
                });
           });
        {% endif %}
    </script>
{% endblock %}