{% extends "layout/base.html" %}

{% block title %}ExtremeGaming - Buscador{% endblock %}

{% block header %}
    <script type="text/html" id="hit-template">
        {% raw %}
        {{#visible}}
            <div class="col-md-4" style="margin-bottom: 11px; padding-right: 5px; padding-left: 5px;">
                {{#assets.capsule}}
                    <div class="s-commerce-product" style="background-image: url('/static/img/product/{{ id }}/{{ assets.capsule }}');">
                {{/assets.capsule}}
                {{^assets.capsule}}
                    <div class="s-commerce-product" style="background-image: url('/static/img/product/{{ id }}/{{ assets.header }}');">
                {{/assets.capsule}}
                    <a href="/comprar/{{#app_id}}{{app_id}}{{/app_id}}{{#sub_id}}{{sub_id}}{{/sub_id}}">
                        <div class="s-commerce-product-hud">
                            <div class="s-commerce-product-title">
                                {{title}}
                            </div>
                        </div>

                        <div class="s-commerce-product-buttons">
                            <a href="{{#app_id}}{{app_id}}{{/app_id}}{{#sub_id}}{{sub_id}}{{/sub_id}}" class="s-commerce-product-price">
                                ${{#price_value}}{{price_value}}.00{{/price_value}}
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        {{/visible}}
        {% endraw %}
    </script>

    <script id="facetTemplate-template" language="x-template">
    {% raw %}
     <div class="s-facet {{#isRefined}}s-facet__selected{{/isRefined}}">
     <div class="s-facet--name">{{{name}}}</div>
     <div class="s-facet--count">{{count}}</div>
     </div>
    {% endraw %}
    </script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css">
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    {{ url_for('static', filename='css/instantsearch.min.css')|css_file|safe }}
    {{ url_for('static', filename='css/s-search.css')|css_file|safe }}
{% endblock %}

{% block body %}
    <div class="s-commerce-search-container">
        <div class="container">
            <div class="main">
                <div class="s-commerce-search-box">
                    <input id="search-input" type="text" class="form-control" placeholder="Buscar productos">
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-4"><div id="price"> </div></div>
                    <div class="col-md-4"><div id="sections"> </div></div>
                    <div class="col-md-4"><div id="categories"> </div></div>
                    <div class="col-md-4"><div id="promotions"> </div></div>
                </div>

                <div class="row">
                    <div id="hits">

                    </div>
                </div>

                <div id="pagination"> </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var search = instantsearch({
            appId: 'E91FESKM23',
            apiKey: 'f088ba2d672864b43e59cf299679c6bb',
            indexName: 'products',
            urlSync: true
        });

        function getTemplate(templateName) {
            return $('#' + templateName + '-template').html();
        }

        search.addWidget(
            instantsearch.widgets.searchBox(
                {
                    container: '#search-input',
                    placeholder: 'Search for products'
                }
            )
        );

        search.addWidget(
            instantsearch.widgets.hits({
                container: '#hits',
                hitsPerPage: 28,
                templates: {
                    item: getTemplate('hit'),
                    empty: getTemplate('no-results')
                }
            })
        );

        search.addWidget(
            instantsearch.widgets.pagination({
                container: '#pagination'
            })
        );

        search.addWidget(
            instantsearch.widgets.rangeSlider({
                container: '#price',
                attributeName: 'price_value',
                templates: {
                    header: '<h5>Precio</h5>'
                },
                min:5,
                max:1000
            })
        );

        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#categories',
                attributeName: 'product_tags.title',
                limit: 10,
                operator: 'and',
                templates: {
                    header: '<h5>Categorias</h5>',
                    item: getTemplate('facetTemplate')
                },
                showMore: {
                    limit: 1e3,
                    templates: {
                        inactive: ""
                    }
                },
            })
        );

        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#sections',
                attributeName: 'section.title',
                limit: 10,
                operator: 'and',
                templates: {
                    header: '<h5>Secciones</h5>',
                    item: getTemplate('facetTemplate')
                }
            })
        );

        search.addWidget(
            instantsearch.widgets.refinementList({
                container: '#promotions',
                attributeName: 'promotion.title',
                limit: 10,
                operator: 'or',
                templates: {
                    header: '<h5>Ofertas</h5>',
                    item: getTemplate('facetTemplate')
                },
                showMore: {
                    limit: 1e3,
                    templates: {
                        inactive: ""
                    }
                },
            })
        );

        search.start();
    </script>
{% endblock %}
