{% extends "layout/base.html" %}

{% block title %}ExtremeGaming - Soporte{% endblock %}

{% block body %}
    <div class="container">
        <div class="s-commerce-support">
            <div class="s-commerce-support-title">Centro de soporte</div>
            <div class="s-commerce-support-box">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FExtremeGamingSTEAM%2F&tabs=messages&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=148738392218835" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
            </div>
            <div class="s-commerce-support-text">
                Para agilizar la gestión de tu reclamo, no olvides adjuntar tu identificador de pedido.<br>
                Podrás encontrarlo en tu boleta o en <a href="{{ url_for('views.user.user_profile') }}" target="_blank">tu historial de pedidos de ExtremeGaming</a>.<br>
                Los pedidos tienen el formato #A-, #B- ó #C- seguido de números.
            </div>
        </div>
    </div>
{% endblock %}