<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('admin.views.admin_root') }}">Admin ExtremeGaming</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('admin.views.admin_root') }}">Dashboard <span class="sr-only">(current)</span></a>
                </li>

                <li>
                    <a href="{{ url_for('admin.views.admin_requests') }}">Pedidos
                        {% if counters %}
                            <span class="badge alert-danger">{{ counters['userrequests'] + counters['paidrequests'] }}</span>
                            <span class="badge alert-info">{{ counters['informed'] }}</span>
                        {% endif %}
                    </a>
                </li>

                <li>
                    <a href="{{ url_for('admin.panel.admin_root') }}">Panel</a>
                </li>

                <li>
                    <a href="{{ url_for('admin.views.admin_resume') }}">Resumenes</a>
                </li>

                <li>
                    <a href="{{ url_for('admin.views.queue_product_add' )}}">Añadir por AppID/SubID</a>
                </li>

                <li>
                    <a href="{{ url_for('admin.views.admin_sliders_view' )}}">Añadir slider</a>
                </li>

                <li>
                    <a href="#">Configuración</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
