{% extends "admin/layout/base.html" %}

{% block title %}Admin - Dashboard{% endblock %}

{% import "admin/views/activity.html" as activity %}

{% block body %}
    <div class="admin-dashboard">
        <div class="container">
            <div class="admin-tabs">
                <div class="tabbeable">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active">
                            <a data-toggle="tab" href="#tab1">Toda la actividad</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab2">Actividad de pedidos</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab3">Entrega inmediata</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab4">Finalización de ofertas</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab5">Alertas</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#tab6">Actividad de bot</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <div class="admin-log-activity all-admin-logs">
                                {{ activity.print_logs(logs, [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15, 16]) }}
                            </div>

                            <div class="load-more-activity" style="margin-top: 20px;">
                                <button class="btn btn-default" data-page="1">
                                    Cargar mas
                                </button>
                            </div>
                        </div>

                        <div id="tab2" class="tab-pane">
                            <div class="admin-log-activity">
                                {{ activity.print_logs(logs, [1, 2, 3, 14, 15, 16]) }}
                            </div>
                        </div>

                        <div id="tab3" class="tab-pane">
                            <div class="admin-log-activity">
                                {{ activity.print_logs(logs, [10, 11]) }}
                            </div>
                        </div>

                        <div id="tab4" class="tab-pane">
                            <div class="admin-log-activity">
                                {{ activity.print_logs(logs, [7, 8]) }}
                            </div>
                        </div>

                        <div id="tab5" class="tab-pane">
                            <div class="admin-log-activity">
                                {{ activity.print_logs(logs, [4, 5, 9, 12]) }}
                            </div>
                        </div>

                        <div id="tab6" class="tab-pane">
                            <div class="admin-log-activity">
                                {{ activity.print_logs(logs, [6, 13]) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}