{% extends "admin/layout/base.html" %}

{% block title %}Admin - Dashboard{% endblock %}

{% import "admin/views/activity.html" as activity %}

{% block body %}
	<div class="container">
		<div class="main">
			Cantidad de pedidos informados: {{ userrequests|length }}
		</div>

		<div class="main">
			{% for userrequest in userrequests %}
				{% if userrequest.get('url') %}
					<a href="{{ url_for('admin.views.admin_request', history_identifier=('A-' + userrequest['id']|string)) }}">
						<img src="/static/userrequests/{{ userrequest['url'] }}" style="width: 25%; height: 25%; margin: 10px 0; border: 2px solid black;">
					</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
