<div class="s-commerce-userrequests-paid">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>#A</th>
                <th>Sección</th>
                <th>Productos</th>
                <th>Fecha de ingreso de pago</th>
                <th>Asignado</th>
            </tr>
        </thead>

        <tbody>
            {% for request in userrequests %}
                <tr {% if request['promotion'] %}class="s-commerce-promotional-request"{% endif %}>
                    <td>
                        <a href="{{ url_for('admin.views.admin_request', history_identifier=('A-' + request['id']|string)) }}">#A-{{ request['id'] }}</a>
                    </td>


                    <td>
                        {% for relation in request['userrequest_relations'] %}
                            <div class="s-commerce-relation-product-section">
                                {{ relation['product']['section']['title'] }}
                            </div>
                        {% endfor %}
                    </td>

                    <td>
                        {% for relation in request['userrequest_relations'] %}
                            <div class="s-commerce-relation{% if relation['sent'] %} relation-sent{% endif %}">
                                <span class="s-commerce-relation-product-title">
                                    {% if relation.get('commitment_level') and session.get('user') == 1 %}
                                        <span class="badge badge-default">{{ relation.get('commitment_level') }}</span>
                                    {% endif %}

                                    {% set product = relation.get('product') %}

                                    {% if product.get('app_id') %}
                                        <a href="{{ url_for('views.store.store_app_id', app_id=product.get('app_id')) }}">{{ product.get('title') }}</a>
                                    {% elif product.get('sub_id') %}
                                        <a href="{{ url_for('views.store.store_sub_id', sub_id=product.get('sub_id')) }}">{{ product.get('title') }}</a>
                                    {% endif %}
                                </span>

                                <span class="s-commerce-relation-product-price">
                                    (${{ relation['price']|price_format }})
                                </span>

                                <a class="btn btn-xs btn-default" href="https://steamdb.info/{{ 'app' if relation.get('product').get('app_id') else 'sub' }}/{{ relation.get('product').get('app_id') or relation.get('product').get('sub_id') }}" target="_blank">
                                    SteamDB
                                </a>

                                <a class="btn btn-xs btn-default" href="https://dispenser.tf?s={{ '+'.join(relation.get('product').get('title').split(' ')) }}" target="_blank">
                                    Dispenser
                                </a>

                                {% set crc = relation.get('product').get('price_currency') %}

                                {% if crc %}
                                    <img src="{{ url_for('static', filename='img/p.gif') }}" alt="{{ crc }}" width="16" height="11" class="flag flag-{{ crc|lower }}">
                                {% endif %}
                            </div>
                        {% endfor %}

                        <span class="s-commerce-relation-product-price">
                            <p>Total: ${{ request['price']|price_format }}</p>
                        </span>
                    </td>

                    <td>
                        {{ request['paid_date']|date_format }}
                    </td>

                    <td>
                        {% if request['assigned'] %}
                            <div class="s-commerce-userrequest-user">
                                <img src="{{ request['assigned']['avatar_url'] }}">
                                <a href="#">@{{ request['assigned']['username'] }}</a>
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
