{% import "bootstrap/wtf.html" as wtf %}

{% macro print_background(product_id, asset) %}
    <div class="s-commerce-testimonial" style="
            background: -moz-linear-gradient(top, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%), url('/static/img/product/{{ product_id }}/{{ asset }}');
            background: -webkit-linear-gradient(top, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%), url('/static/img/product/{{ product_id }}/{{ asset }}');
            background: linear-gradient(to bottom, rgba(28,38,47,0.6) 0%, rgba(28,38,47,0.6) 100%), url('/static/img/product/{{ product_id }}/{{ asset }}');
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1c262f', endColorstr='#1c262f',GradientType=0 ); /* IE6-9 */
            background-repeat: repeat-x;
            background-size: cover;
            background-position: center center;
            margin-bottom: 30px;
    ">
{% endmacro %}

{% macro default_background() %}
    <div class="s-commerce-testimonial" style="background-repeat: repeat-x;
            background-attachment: fixed;
            background-size: cover;
            margin-bottom: 30px;
            background: rgba(0, 0, 0, 0) url('/static/img/blue_body_repeat.jpg') no-repeat center center">
{% endmacro %}

<script type="text/javascript">
     String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };
</script>

{% for row in testimonials|batch(3, {}) %}
    <div class="row">
        {% for testimonial in row %}
            <div class="col-xs-16 col-sm-8 col-md-5">
                {% if testimonial['userrequest'] %}
                    {% if testimonial['userrequest']['userrequest_relations']|length > 0 %}
                        {% set product = testimonial['userrequest']['userrequest_relations'][0]['product'] %}

                        {% if product['assets']['background'] %}
                            {{ print_background(product['id'], product['assets']['background']) }}
                        {% else %}
                            {{ default_background() }}
                        {% endif %}
                    {% else %}
                        {{ default_background() }}
                    {% endif %}
                {% elif testimonial['paidrequest'] %}
                    {% if testimonial['paidrequest']['paidrequest_relations']|length > 0 %}
                        {% set product = testimonial['paidrequest']['paidrequest_relations'][0]['product'] %}

                        {% if product['assets']['background'] %}
                            {{ print_background(product['id'], product['assets']['background']) }}
                        {% else %}
                            {{ default_background() }}
                        {% endif %}
                    {% else %}
                        {{ default_background() }}
                    {% endif %}
                {% endif %}

                    <div class="s-commerce-testimonial-content">
                        <div class="s-commerce-testimonial-product-title">
                            {% if testimonial['userrequest'] %}
                                {% if testimonial['userrequest']['userrequest_relations']|length > 0 %}
                                    {% set product = testimonial['userrequest']['userrequest_relations'][0]['product'] %}

                                    {% if product.get('app_id') %}
                                        <a href="{{ url_for('views.store.store_app_id', app_id=product.get('app_id')) }}">{{ product['title'] }}</a>
                                    {% elif product.get('sub_id') %}
                                        <a href="{{ url_for('views.store.store_sub_id', sub_id=product.get('sub_id')) }}">{{ product['title'] }}</a>
                                    {% endif %}

                                    {% if testimonial['userrequest']['userrequest_relations']|length - 1 > 0 %}
                                        y {{ testimonial['userrequest']['userrequest_relations']|length -1 }} productos más
                                    {% endif %}
                                {% endif %}
                            {% elif testimonial['paidrequest'] %}
                                {% if testimonial['paidrequest']['paidrequest_relations']|length > 0 %}
                                    {% set product = testimonial['paidrequest']['paidrequest_relations'][0]['product'] %}

                                    {% if product.get('app_id') %}
                                        <a href="{{ url_for('views.store.store_app_id', app_id=product.get('app_id')) }}">{{ product['title'] }}</a>
                                    {% elif product.get('sub_id') %}
                                        <a href="{{ url_for('views.store.store_sub_id', sub_id=product.get('sub_id')) }}">{{ product['title'] }}</a>
                                    {% endif %}

                                    {% if testimonial['paidrequest']['paidrequest_relations']|length - 1 > 0 %}
                                        y {{ testimonial['paidrequest']['paidrequest_relations']|length -1 }} productos más
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>

                        <div class="s-commerce-testimonial-body" style="white-space: pre-wrap;" data-testimonialid="{{ testimonial.id }}"></div>

                        <script type="text/javascript">
                            var testimonial_data = "{{ testimonial['content']|as_json }}";
                            testimonial_data = testimonial_data.replaceAll('&#34;', '');

                            $('.s-commerce-testimonial-body[data-testimonialid="' + {{ testimonial.id }} + '"]').html(emojione.shortnameToImage(testimonial_data));
                        </script>
                    </div>

                    <div class="s-commerce-testimonial-hud">
                        <div class="s-commerce-testimonial-user">
                            <div class="s-commerce-testimonial-user-image">
                                <img src="{{ testimonial['user']['avatar_url'] }}">
                            </div>

                            <a href="{% if testimonial['user']['steam'] %}https://steamcommunity.com/profiles/{{ testimonial['user']['steam'] }}/{% endif %}" target="_blank">
                                @{{ testimonial['user']['username'] }}
                            </a>
                        </div>

                        <div class="s-commerce-testimonial-timestamp">
                            {% if testimonial['userrequest'] %}
                                {% set request = testimonial['userrequest'] %}

                                {% if request['accepted_date'] and request['paid_date'] %}
                                    {% set time_diff = request['accepted_date'] - request['paid_date'] %}

                                    {% if time_diff.total_seconds() < 30 %}
                                        Compra enviada instantáneamente
                                    {% else %}
                                        Compra enviada en {{ time_diff|hour_format }}
                                    {% endif %}
                                {% endif %}
                            {% elif testimonial['paidrequest'] %}
                                {% set request = testimonial['paidrequest'] %}

                                {% if request['accepted_date'] and request['date'] %}
                                    {% set time_diff = request['accepted_date'] - request['date'] %}

                                    {% if time_diff.total_seconds() < 30 %}
                                        Compra enviada instantáneamente
                                    {% else %}
                                        Compra enviada en {{ time_diff|hour_format }}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>

                        {% if session.get('admin') %}
                            <a href="{{ url_for('views.user.user_admin_profile', username=testimonial['user']['username']) }}" target="_blank" style="text-align; center;">
                                Ver usuario en Extremegaming
                            </a>

                            <br>

                            <a href="{{ url_for('admin.panel.admin_model_edit', object_id=testimonial['id'], model_name='Testimonial') }}">
                                Editar testimonio
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endfor %}

<div class="container">
    <div class="main">
        <div id="load-more" style="text-align: center;">
            {{ wtf.quick_form(form, button_map={"submit": "default btn-lg s-commerce-load-more"}) }}
        </div>
    </div>
</div>
