{% extends "layout/base.html" %}

{% block title %}ExtremeGaming - Testimonios{% endblock %}

{% block header %}
    {{ url_for('static', filename='css/emojione.min.css')|css_file|safe }}
    {{ url_for('static', filename='css/emojione.sprites.css')|css_file|safe }}
    {{ url_for('static', filename='css/emojionearea.min.css')|css_file|safe }}

    {{ url_for('static', filename='js/emojione.min.js')|js_file|safe }}
    {{ url_for('static', filename='js/emojionearea.min.js')|js_file|safe }}
{% endblock %}

{% block body %}
    <div class="s-commerce-testimonials">
        <div class="container">
            <div class="s-commerce-testimonial-count">Contamos con <span class="testimonial-count">{{ count }}</span> testimonios de nuestros usuarios</div>

            <div class="s-commerce-testimonials-list">
                {% include "views/testimonials/testimonials.html" %}
            </div>
        </div>
    </div>
{% endblock %}