<!doctype html>

{% include "layout/macros.html" %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8"/>
        <meta content="ExtremeGaming Argentina" name="author"/>
        <meta content="Sitio de venta de juegos Steam en efectivo (PagoFacil, RapiPago, PagoExpress, BrapoPagos, Ripsa)" name="description"/>
        <meta content="extreme,gaming,juegos,games,venta,compra,precios,noticias,blog,gaming news,news,steam,origin,orm,valve,ubisoft,sony,counter,strike,counter-strike 1.6,1.6,global offesive,csgo,cs:go,go,comprar,how to,tutoriales,faq,rapipago,pagofacil,mercadopago,dineromail,cuenta digital,boleta,generar,original,nosteam,no-steam,far cry,battlefield,call,of,duty,fifa,2013,2012,ofertas,gratis,barato,team,fortress,2,bethesda,pack,promociones,descargas,pedidos,ordenar,order,nuevos,ventas" name="keywords"/>

        <meta name="google-site-verification" content="tJi0XeRBs3o1fVd2bWJzhcKPE3Pq7K1fmY_FHWOF7aI" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

        {{ url_for('static', filename='css/bootstrap.min.css')|css_file|safe }}
        {{ url_for('static', filename='css/bootstrap-drawer.min.css')|css_file|safe }}
        {{ url_for('static', filename='css/s-commerce.css')|css_file|safe }}
        {{ url_for('static', filename='css/sweetalert.css')|css_file|safe }}
        {{ url_for('static', filename='css/notification.css')|css_file|safe }}

        {{ url_for('static', filename='js/jquery-2.1.4.min.js')|js_file|safe }}

        {% if session.get('admin') %}
            {{ url_for('static', filename='css/s-admin.css')|css_file|safe }}
        {% endif %}

        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'/>

        {% if not config.DEBUG -%}
            <script>
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-35665925-1', 'auto');
              ga('send', 'pageview');
            </script>

            <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
        {%- endif %}

        {% block header %}{% endblock %}

        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        {% if g.user and g.pending_requests|length > 0 %}
            {% include "views/store/pending_alert.html" %}
        {% endif %}

        {% include "layout/navbar.html" %}

        {% block body %} {% endblock %}

        {{ url_for('static', filename='js/bootstrap.min.js')|js_file|safe }}
        {{ url_for('static', filename='js/sweetalert.min.js')|js_file|safe }}
        {{ url_for('static', filename='js/jquery.notification.js')|js_file|safe }}
        {{ url_for('static', filename='js/drawer.min.js')|js_file|safe }}
        {{ url_for('static', filename='js/s-commerce.js')|js_file|safe }}
    </body>
</html>