<div class="s-commerce-navbar">
    <div class="container">
        <nav class="navbar">
            <div class="navbar-header">
                <a href="{{ url_for('views.store.store_catalog') }}">
                    <img src="{{ url_for('static', filename='img/logo.svg') }}?{{ config.CACHE_BREAK_RAND }}" style="height: 40x; width: 120px; margin-right: 50px;">
                </a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                {% include "layout/navbar-items.html" %}
            </div>
        </nav>

        <div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold visible-xs" aria-labelledby="drawerExample">
            <div class="drawer-controls">
                <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </a>
            </div>

            <div class="drawer-contents">
                <div class="s-commerce-mobile-navbar">
                    {% include "layout/navbar-items.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
