<nav class="green darken-1">
    <div class="nav-wrapper">
        <a href="/" class="right brand-logo">
            ExtremeGaming
            <small style="font-size: 12px;">V6.0.1 Beta</small>
        </a>

        <ul id="nav-mobile" class="hide-on-med-and-down">
            <li>
                <a href="{{ url_for('views.store.store_catalog') }}">Catálogo</a>
            </li>

            <li>
                <a href="/testimonios">Testimonios</a>
            </li>

            <li>
                <a href="/testimonios">Preguntas Frecuentes</a>
            </li>

            <li>
                <a href="/testimonios">Como comprar</a>
            </li>

            <li>
                <a href="/perfil">
                    Perfil
                </a>
            </li>

            <li>
                <a href="/carrito">
                    Carrito
                </a>
            </li>

            <li>
                <a href="https://www.facebook.com/ExtremeGamingSTEAM">
                    Facebook ExtremeGaming
                </a>
            </li>
        </ul>
    </div>
</nav>
