<style type="text/css">
    #new {
        color: #fdb832;
        font-size: 17px;
        left: 25px;
        position: absolute;
        top: 0px;
        z-index: 100;
        font-weight: bold;
        font-size: 13px;
    }
</style>

<ul class="nav navbar-nav">
    <li class="active">
        <a href="{{ url_for('views.store.store_catalog') }}" class="s-commerce-navbar-item {% if active_section == 'catalog'%}active{% endif %}">
            Catálogo
        </a>
    </li>

    <li>
        <a href="{{ url_for('views.store.store_offers') }}" class="s-commerce-navbar-item navbar-offers {% if active_section == 'offers'%}active{% endif %}">
            Ofertas
        </a>
    </li>

    <li class="active">
        <a href="{{ url_for('views.store.store_search') }}" class="s-commerce-navbar-item {% if active_section == 'search'%}active{% endif %}">
            Buscador
        </a>
    </li>

    <li>
        <a href="{{ url_for('views.testimonials.testimonials_root') }}" class="s-commerce-navbar-item {% if active_section == 'testimonials' %}active{% endif %}">
            Testimonios
        </a>
    </li>

    <li>
        <a href="{{ url_for('views.store.store_faqs') }}" class="s-commerce-navbar-item">
            FAQs
        </a>
    </li>

    <li>
        <a target="_blank" href="http://wasd.com.ar" class="s-commerce-navbar-item">
            Blog
            <span id="new">¡Nuevo!</span>
        </a>
    </li>

    {% if g.user and g.user.admin %}
        <li>
            <a href="{{ url_for('admin.views.admin_root') }}" class="s-commerce-navbar-item">
                Admin
            </a>
        </li>
    {% endif %}
</ul>

<ul class="nav navbar-nav navbar-right">
    {% if g.user %}
        <li>
            <a class="navbar-credit-button" href="#">
                <span class="s-commerce-user-nav-wallet">
                    ${{ (g.user.money + g.user.wallet)|price_format }} <br>
                    <span class="s-commerce-user-nav-wallet-text">Billetera</span>
                </span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('views.user.user_profile') }}">
                <span class="s-commerce-user-nav-image">
                    <img src="{{ g.user.avatar_url }}">
                </span>
            </a>
        </li>

        <li class="notification-container">
            <a class="s-commerce-user-nav-notifications" href="#">
                <span>
                    <i class="glyphicon glyphicon-bell"> </i>
                </span>
            </a>

            {% if g.notification_counter > 0 %}
                <div class="s-commerce-user-notification-counter">
                    {{ g.notification_counter }}
                </div>
            {% endif %}
        </li>

        <li>
            <a id="cd-cart-trigger" href="#">
                <span class="s-commerce-user-nav-cart">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('views.user.user_wishlist') }}">
                <span class="s-commerce-user-wishlist">
                    <i class="glyphicon glyphicon-heart"> </i>
                </span>
            </a>
        </li>

        <li>
            <a href="{{ url_for('views.user.user_logout') }}">
                <span class="s-commerce-user-nav-cart">
                    <i class="glyphicon glyphicon-log-out"></i>

                    <span class="visible-xs">
                        Desconectarse
                    </span>
                </span>
            </a>
        </li>
    {% else %}
        <li>
            <a href="{{ url_for('views.user.user_login') }}">
                <img src="{{ url_for('static', filename='img/sits_small.png') }}">
            </a>
        </li>
    {% endif %}
</ul>

{% if g.user %}
    <div class="s-commerce-cart-container">
        <div id="cd-shadow-layer">

        </div>

        <div id="cd-cart">
            <div class="s-commerce-navbar-item-loading">
                Cargando tu carrito, un momento...
            </div>
        </div>
    </div>

    <div class="s-commerce-notifications-container">
        <div id="cd-notifications">
            <div class="s-commerce-cart-title">Notificaciones</div>

            <ul class="cd-notifications-items">
                <div class="s-commerce-navbar-item-loading">
                    Cargando notificaciones, un momento...
                </div>
            </ul>
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    $('.navbar-credit-button').on('click', function(event){
        event.preventDefault();

        swal({
            type: "input",
            title: 'Carga de créditos',
            text: 'Los créditos sirven como fondos en ARS (Pesos Argentinos) en tu cuenta. Pueden ser utilizados para comprar productos más rápidamente sin tener que esperar lapsos de cobros y poder abonar productos durante fines de semana cuando no hay servicios de cobro en funcionamiento',
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
            inputPlaceholder: "Ingresar cantidad (Minimo $5)"
        },
        function(inputValue){
            if (inputValue === false) return false;

            if (inputValue === "") {
                swal.showInputError("Debes ingresar una cantidad");
                return false;
            }

            if (!parseInt(inputValue)){
                swal.showInputError("La cantidad debe ser un número");
                return false;
            }

            var input_number = parseInt(inputValue);

            if (input_number < 5) {
                swal.showInputError("La cantidad debe ser mayor a 5");
                return false;
            }

            if (input_number > 5000) {
                swal.showInputError("La cantidad debe ser menor a 5000");
                return false;
            }

            $.ajax({
                url: '/ajax/store/creditrequest/generate/',
                type: 'POST',
                data:{
                    amount: input_number
                },
                success: function(data){
                    var json_data = data;

                    swal({
                        title: 'Pedido #B-' + json_data['creditrequest'] + ' generado',
                        text: 'Tu código de barras manual es: <b>' + json_data['bar_code'] + '</b><br>Los créditos serán añadidos a tu cuenta automáticamente cuando nuestro sistema detecte el pago. Los pagos demoran entre 24-48hs hábiles en ingresar',
                        type: 'success',
                        confirmButtonText: 'Ver boleta para imprimir',
                        cancelButtonText: 'Cerrar',
                        html: true,
                        closeOnConfirm: false,
                        closeOnCancel: true,
                        showCancelButton: true,
                    },
                    function(){
                        window.open('https://www.cuentadigital.com/verfactura.php?id=' + json_data['bar_code'], '_blank');
                    });
                },
                error: function(data){
                    var json_data = $.parseJSON(data.responseText);

                    if (json_data['status'] == 0) {
                        swal('Error de formulario', 'No hemos podido procesar tu pedido. Por favor refresca el sitio e intenta nuevamente', 'error');
                    } else if (json_data['status'] == 1) {
                        swal('Monto incorrect', 'Debes ingresar un monto mayor a 5 y menor a 5000', 'error');
                    } else if (json_data['status'] == 2 || json_data['status'] == 3) {
                        swal(
                            'Error con CuentaDigital',
                            'El sistema no se pudo comunicar con el servicio de terceros para la emisión de boletas. Lamentamos los inconvenientes. Recomendamos intentar nuevamente más tarde.',
                            'error'
                        );
                    }
                }
            });
        });
    });
</script>